* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-color: #0e0e0e;
}
.container {
    width: 90vw;
    max-width: 500px;
    height: 100px;
    background-color: #0e0e0e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    position: relative;

}
.audio-container{
    position: absolute;
    top: -30%;
    width: 100%;
}
audio{
    width: 100%;
    height: 100%;
}
canvas{
    width: 100%;
    height: 100%;
}